/*Innitialize Canvas*/
html,body, h1, p{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.header{
  width: 100%;
  height: 50px;
  display: flex;
}

/*Set up navigation bar*/

.navigation{

  justify-content: flex-end;
}

/*Set up main container, and all it's rows*/
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
}

.row{
  border-style: solid;
  height: 20%;
  display: flex;
  flex:1 1 auto;
}

/*Set up the top part of the site + the included banners*/
.top{
  flex:1 1 35%;
  background: url("../img/photos2.webp");

}

.banner{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.banner h1{

  padding-top: 50px;
  flex: 1 1 70%;
  text-align: center;
  justify-content:center;
  color: white;
  width: 100%;
  font-size: 170%;
}

.button_pane{
  flex: 1 1 5%;
  display: flex;
  justify-content: center;

}

/* Button */
#learn_button {
	background-color:#44c767;
	border-radius:1000px;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin-bottom: 40px;
}
#learn_button:hover {
	background-color:#5cbf2a;
}
#learn_button:active {
	position:relative;
	top:1px;
}

/*will contain an interactive map*/
.Map{
  flex: 1 1 100%;
  justify-content: center;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */

}

/* Set the size of the div element that contains the map */
#map {
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/*Middle section of the site, and all its components*/

.mid{
  flex:1 1 25%;
  background-color:rgba(0, 0, 0, 0.5);
}

/* Bottom part of the site, and all the components*/
.bottom{
  flex:1 1 20%;
  background-color: black;
}

.ad{
  flex:1 1 15%;
  background-color: white;
}

.footer{
  flex:1 1 5%;
  background-color: yellow;
}
