/*Innitialize Canvas*/
html,body, h1, p, ul{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 20px;

}

html{
  height: 1200px;
}

body{
    background: url("../img/photos2.webp");
}


/*Set up main container, and all it's rows*/
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top:100px;

}

.row{
  border-style: solid;
  height: 20%;
  display: flex;
  flex:1 1 auto;
}

/*Set up the top part of the site + the included banners*/
.top{
  flex:1 1 35%;


}

.banner{
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.banner h1{

  padding-top: 50px;
  flex: 1 1 70%;
  text-align: center;
  justify-content:center;
  color: white;
  width: 100%;
  font-size: 170%;
}

.banner span{
  font-weight: bold;
  color: orange;
}

.button_pane{
  flex: 1 1 5%;
  display: flex;
  justify-content: center;

}

/* Button */
.button {
	background-color:orange;
	border-radius:1000px;
	border:1px solid yellow;
  display:inline-block;
	color:#EA5200;
	font-size:17px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px orange;
  padding-bottom: 20px;
}
.button:hover {
	background-color:yellow;
}
.button:active {
	position:relative;
	top:1px;
}

.learn_button{
  padding-bottom: 15px;
  margin-bottom: 40px;
}

/*will contain an interactive map*/
.Map{
  visibility: hidden;
  flex: 1 1 100%;
  justify-content: center;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */

}

/* Set the size of the div element that contains the map */
#map {
  position: relative;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/*Middle section of the site, and all its components*/

.mid{
  flex:1 1 25%;
  background-color:rgba(0, 0, 0, 0.5);
  flex-direction: row;
  justify-content: center;
  padding-top:7%;
}

.info{
  margin-left: 3%;
  margin-right: 3%;
}

.info .pic{
  height: 120px;
  width: 120px;
  border-radius: 10px;
  display: inline-block;
  border: 5px solid orange;
  margin-left: 3%;
  margin-right: 3%;
}

/* Bottom part of the site, and all the components*/
.bottom{
  flex:1 1 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.ad{
  flex:1 1 15%;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer{
  flex:1 1 5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header{
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0%;
  right: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.header .button{
  height: 20px;
  top: 0%;
  position: relative;

}

.header .logo{
  flex: 1 1 100%;
  top: 0px;
  justify-content: flex-start;
}

#thepic{
  content: url("../img/—Pngtree—creative company_1421625.png");
  max-width: 100px;
  max-height: 100px;
}

/*Set up navigation bar*/
.navigation{
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0%;
  flex: 1 1 100%;
  right: 100%;
}

.header .navigation .button{
  position: relative;
  list-style: none;
  margin-left: 1%;
  margin-right: 1%;
}
.navigation .button{
  top:20%;
}

.navigation li{
  margin-left: 25px;
}
